.wrapper{
    width: 100vw;
    height: 100vh;

    background-color: aqua;
    

    .content{
        width: 80vw;
        max-width: 1180px;
        height: 100vh;
        background-color: antiquewhite;
      
    }
}